header, footer, p, ul { 
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.4em;
    padding-left: 15px;
    padding-right: 15px;
}

.main-head {

    grid-area: header;
    text-align: center;
    /* PLACEHOLDER COLOR*/
    background-color: #C0B283;
    
  }
body {

    margin-bottom: 0px;
    border-radius: 25px;
    border-collapse: collapse;
    padding: 30px 0px;
    
	
}

.content {
    text-align: center;
    grid-area: content;
    padding-top: 5em;
    padding-bottom: 15em;
    background-color: #fff;
    
  }

video   {
    border: 1px solid #000000;
}

  .main-nav {
    grid-area: nav;
    background-color: #373737;
    text-align: center;
    
    
  }
  .side {
    text-align: center;
    grid-area: sidebar;
    background-color: #f8f8f8
    
    
  }
  .main-footer {
    grid-area: footer;
    background-color: #DcD0C0;
    
  }
  
  .wrapper {
    display: grid;
    grid-template-areas: "header"
      "nav"
      "sidebar"
      "content"
      "ad"
      "footer";
    border-radius: 0;
    border-collapse: separate;
    box-shadow: 0px 3px 10px 1px lightgray;
  }

.side ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    
}
.side ul li {
    margin-top: 1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-bottom: 1em;
    padding-top: 0.8em;
    padding-bottom: .8em;
    background: #fff;
    list-style-type:none;
    box-shadow: 0px 3px 10px 1px lightgray;
}

.side ul li a {
  color: black;

}

.main-nav ul li a{
    color: #fff;
    text-decoration: none;
}

.main-footer ul li{
    color: #fff;
    text-decoration: none;
    
}

h1, p, li, a{
  font-family: 'Roboto', sans-serif;
}

.content h1 {
  color:black;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
.content p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: #373737;
}  

.content div {
  display: flex;
  margin: auto;
  height: 70px;
  width: 160px;
  margin-top: 3em;
  background: rgb(128, 154, 240);
  border-radius: 10px;
}
.content div a {
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.main-footer a:link {
	color: Goldenrod; 
	
}
.main-footer a:visited {
	color: White; 
}

.wrapper {
  margin: 0px 60px ;
}

.main-footer ul {
  padding: 2.5em 2.5em;
  
}
.main-footer ul li {
  line-height: 32px;
  font-size: 14px;
  color: #373737;
}

.main-nav ul {
  list-style: none;
  padding: 1em 0em;
  line-height: 3em;
}

.main-head #logo {
  color: white;
  font-family: 'Pacifico', sans-serif;
}


@media (min-width: 1080px) {
  
  .wrapper {
    grid-template-columns:  1fr 3fr 1fr;
    grid-template-areas:
      "header nav nav"
      "sidebar content content "
      "sidebar content content "
      "footer footer footer"
  }
  nav ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      list-style: none;
      justify-content: center;
      height: 50px;
  }

  .main-head {
    display: flex;
    height: 82px;
  }

  .main-head #logo {
    color:#fff;
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
    margin: auto; /* important */
    text-align: center;

  }
  nav ul li {
      margin-left: 1em;
      margin-right: 1em;
  }

  
  article p{
    padding: 2em 7em 0em 7em;
  }

  .main-nav {
    grid-area: nav;
    background-color: #373737;
    text-align: center;
    
  }
  .main-nav a:hover {
    color: goldenrod;
  
  }
  

  .side ul li:first-child {
    margin-top: 5em;
  }
  body{
    background-color: #f8f8f8;
  }

  .main-footer ul li {
    line-height: 32px;
    font-size: 14px;
    color: #373737;
  }
}
  


  
  
